<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <div>
        <div *ngIf="wrongCreds" class="alert alert-danger" role="alert">
          {{wrongCredsText}}
        </div>

        <div class="form-group">
          <label id="username">Username</label>
          <input for="username" #username id="username-input" class="new_username_input" />
        </div>


        <div class="form-group">
          <label id="password">Password</label>
          <input for="password" type="password" #password id="password-input" class="new_password_input"/>
        </div>

        <button class="btn btn-primary" type="submit" (click)="login(username.value, password.value); username.value=''; password.value=''">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
