<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Register</h2>
      <div>
        <div *ngIf="wrongCreds" class="alert alert-danger" role="alert">
          {{wrongCredsText}}
        </div>

        <div class="form-group">
          <label id="username">Username</label>
          <input for="username" #username />
        </div>

        <div class="form-group">
          <label id="password">Password</label>
          <input for="password" type="password" #password />
        </div>

        <button class="btn btn-primary" (click)="register(username.value, password.value); username.value=''; password.value=''">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
