<form class="was-validated" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Name" required>
    <div class="invalid-feedback">
      Please provide a name.
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" [(ngModel)]="description" name="description" placeholder="description" required>
    <div class="invalid-feedback">
      Please provide a description.
    </div>
  </div>
  <div class="form-group">
    <label for="hp">HP</label>
    <input class="form-control" id="hp" type="number" [(ngModel)]="hp" name="hp" placeholder="HP" required />
    <div class="invalid-feedback">Please provide a proper HP stat.</div>
  </div>
  <div class="form-group">
    <label for="atk">ATK</label>
    <input class="form-control" id="atk" type="number" [(ngModel)]="atk" name="atk" placeholder="ATK" required />
    <div class="invalid-feedback">Please provide a proper ATK stat.</div>
  </div>
  <div class="form-group">
    <label for="spd">spd</label>
    <input class="form-control" id="spd" type="number" [(ngModel)]="spd" name="spd" placeholder="SPD" required />
    <div class="invalid-feedback">Please provide a proper SPD stat.</div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="postWeapon()">
    Submit
  </button>
</form>
