<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over My Hero</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>MyHero</h3>
    <p>
      MyUnit is een website waarbij je je eigen 'Hero' maakt naar wens. De 'Hero' komt van een mobiel spelletje wat de maker te vaak speelt in zijn vrije tijd.
    </p>
    <p>
      Hierin kan je verschillende entiteiten gebruiken.
      <br>Zo ben jij de 'User' entiteit. Je maakt een 'Heroes' entiteit, en elke hero heeft een 'Weapon' entiteit.
      Alle 'Heroes' die je hebt zitten in de 'User' entiteit. Met de 'heroes' kan je een 'Team' entiteit maken van maximaal 4 'Units'.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/person.png"
             class="card-img-top rounded-circle border profile-pic"
             alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jay Hagendoorn</h5>
        <p class="card-text">
          Studentnummer: 2145910
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h3>Database gebruik</h3>
    <p>
      Voor deze applicatie wordt gebruik gemaakt van NoSql om zo voor aanpassingen die heroes kunnen hebben op te vangen
      zonder moeite in de database waarbij het grootste gedeelte vanuit MongoDB wordt toegevoegd.
      Ook komt Neo4J ter spraken om 'Teams' toe te voegen, zodat heroes aan teams toegevoegd en verwijderd kunnen worden,
      met makkelijkere zoekopdrachten door middel van de teams.
    </p>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>_id: number</li>
      <li>username: string</li>
      <li>password: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>HeroTemplate</p>
    <ul>
      <li>_id: number</li>
      <li>name: string (Hero's naam)</li>
      <li>title: string (Hero's kleine beschrijving)</li>
      <li>movementType: string (Geeft aan welk bewegingstype de hero heeft)</li>
      <li>weaponType: string (Geeft aan welk type wapen de hero heeft)</li>
      <li>hp: number</li>
      <li>atk: number</li>
      <li>spd: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Hero</p>
    <ul>
      <li>_id: string</li>
      <li>userId: string</li>
      <li>template: Template(De hero waar deze op gebaseerd is qua stats en naam)</li>
      <li>weapon: Weapon</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Weapon</p>
    <ul>
      <li>_id: string</li>
      <li>name: string</li>
      <li>description: string (Een beschrijving van wat een skill doet)</li>
      <li>hp: number</li>
      <li>atk: number</li>
      <li>spd: number</li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-4">
    <p>Team</p>
    <ul>
      <li>id: number</li>
      <li>userId: number</li>
      <li>name: string (Team naam)</li>
      <li>units: List (lijst van units (max 4))</li>
    </ul>
  </div>
</div>

<img src="assets/images/NoSQL_ERD.png"
     alt="ERD" />

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
