<div *ngIf="hero">
  <div class="text-center">
    <h2>{{hero.heroTemplate.name}}</h2><h3>{{hero.heroTemplate.title}}</h3>
  </div>
  <div class="d-flex justify-content-center">
    <table class="table" style="width: 40%">
      <tbody>
        <tr>
          <th>
            Weapon type
          </th>
          <th>
            {{hero.heroTemplate.weaponType}}
          </th>
        </tr>
        <tr>
          <th>
            Movement type
          </th>
          <th>
            {{hero.heroTemplate.movementType}}
          </th>
        </tr>
        <tr>
          <th>
            Weapon power
          </th>
          <th>

            <mat-form-field appearance="fill">
              <mat-label>{{hero.weapon.name}}</mat-label>
              <mat-select [(ngModel)]="selectedWeapon" name="weapon">
                <mat-option *ngFor="let weapon of weapons" [value]="weapon">
                  {{weapon.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <span style="width: 40%" class="text-center">{{selectedWeapon.description}}</span>
  </div>
  <div class="d-flex justify-content-center">
    <table class="table" style="width: 30%">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>Hero</th>
          <th>Weapon bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            HP
          </th>
          <td>
            {{hero.heroTemplate.hp + selectedWeapon.hp}}
          </td>
          <td>
            <span *ngIf="hero.weapon.hp>=0">+</span>{{selectedWeapon.hp}}
          </td>
        </tr>
        <tr>
          <th>
            ATK
          </th>
          <td>
            {{hero.heroTemplate.atk + selectedWeapon.atk}}
          </td>
          <td>
            <span *ngIf="hero.weapon.atk>=0">+</span>{{selectedWeapon.atk}}
          </td>
        </tr>
        <tr>
          <th>
            SPD
          </th>
          <td>
            {{hero.heroTemplate.spd + selectedWeapon.spd}}
          </td>
          <td>
            <span *ngIf="hero.weapon.spd>=0">+</span>{{selectedWeapon.spd}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" (click)="deleteHero()">
      Delete hero
    </button>
    <button *ngIf="selectedWeapon != hero.weapon" type="submit" class="btn btn-primary" (click)="patchHero()">
      Edit hero
    </button>
  </div>
</div>
