<h2>Browse user created heroes</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Weapon Type</th>
    <th scope="col">Movement Type</th>
    <th scope="col">Weapon power</th>
    <th scope="col">Hp</th>
    <th scope="col">Atk</th>
    <th scope="col">Spd</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes">
    <th scope="row">{{hero.heroTemplate.name}}</th>
    <td>{{hero.heroTemplate.title}}</td>
    <td>{{hero.heroTemplate.weaponType}}</td>
    <td>{{hero.heroTemplate.movementType}}</td>
    <td>{{hero.weapon.name}}</td>
    <td>{{hero.heroTemplate.hp + hero.weapon.hp}}</td>
    <td>{{hero.heroTemplate.atk + hero.weapon.atk}}</td>
    <td>{{hero.heroTemplate.spd + hero.weapon.spd}}</td>
  </tr>
  </tbody>
</table>
