<h2>All Units</h2>
<!-- <ul class="heroes"> -->
<!--   epic -->
<!--   <li *ngFor="let unit of heroTemplates"> -->
<!--     <span class="badge">{{unit.name}} | {{unit.title}}</span> -->
<!--   </li> -->
<!-- </ul> -->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Weapon Type</th>
    <th scope="col">Movement Type</th>
    <th scope="col">Hp</th>
    <th scope="col">Atk</th>
    <th scope="col">Spd</th>
    <th *ngIf="userId == adminId"></th>
    <th *ngIf="userId == adminId"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let template of heroTemplates">
    <th scope="row">{{template.name}}</th>
    <td>{{template.title}}</td>
    <td>{{template.weaponType}}</td>
    <td>{{template.movementType}}</td>
    <td>{{template.hp}}</td>
    <td>{{template.atk}}</td>
    <td>{{template.spd}}</td>
    <td *ngIf="userId == adminId">
      <button type="submit" class="btn btn-primary" (click)="patchTemplate(template._id)">
        Update
      </button>
    </td>
    <td *ngIf="userId == adminId">
      <button type="submit" class="btn btn-primary" (click)="deleteTemplate(template._id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
