<h1>Create your hero</h1>
<form>

  <div>
    <label for="heroTemplate">Template:</label>
    <mat-form-field appearance="fill">
      <mat-label>Hero</mat-label>
      <mat-select [(ngModel)]="selectedTemplate" name="template">
        <mat-option *ngFor="let template of heroTemplates" [value]="template">
          {{template.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedTemplate">
    <label for="Weapon">Weapon:</label>
    <mat-form-field appearance="fill">
      <mat-label>Weapon</mat-label>
      <mat-select [(ngModel)]="selectedWeapon" name="weapon">
        <mat-option *ngFor="let weapon of weapons | filter:filterargs" [value]="weapon">
          {{weapon.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Weapon Type</th>
        <th scope="col">Movement Type</th>
        <th scope="col">Hp</th>
        <th scope="col">Atk</th>
        <th scope="col">Spd</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="selectedTemplate">
        <th scope="row">{{selectedTemplate.name}}</th>
        <td>{{selectedTemplate.title}}</td>
        <td>{{selectedTemplate.weaponType}}</td>
        <td>{{selectedTemplate.movementType}}</td>
        <td>{{selectedTemplate.hp}}</td>
        <td>{{selectedTemplate.atk}}</td>
        <td>{{selectedTemplate.spd}}</td>
      </tr>
      <tr *ngIf="selectedWeapon">
        <th scope="row">{{selectedWeapon.name}}</th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{selectedWeapon.hp}}</td>
        <td>{{selectedWeapon.atk}}</td>
        <td>{{selectedWeapon.spd}}</td>
      </tr>
      <tr *ngIf="selectedTemplate && selectedWeapon">
        <th scope="row">Total</th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{selectedTemplate.hp + selectedWeapon.hp}}</td>
        <td>{{selectedTemplate.atk + selectedWeapon.atk}}</td>
        <td>{{selectedTemplate.spd + selectedWeapon.spd}}</td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
  <button *ngIf="selectedTemplate && selectedWeapon" type="submit" class="btn btn-primary" (click)="postHero()">
    Submit
  </button>
  </div>
</form>
