<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >My Hero</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"
            *ngIf="user">
          <div ngbDropdown
               class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              Your units
            </button>
            <div ngbDropdownMenu
                 class="dropdown-menu"
                 aria-labelledby="dropdownMenu1">
              <button class="dropdown-item"
                      routerLink="/myheroes"
                      [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                Your units
              </button>
              <button class="dropdown-item"
                      routerLink="/heroes/create"
                      [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                Create unit
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/heroes"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">
            Browse heroes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/templates"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">
            Templates
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/weapons"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">
            Weapons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/about"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">About</a>
        </li>
        <li class="nav-item dropdown"
            *ngIf="userId == adminId">
          <div ngbDropdown
               class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              Admin control
            </button>
            <div ngbDropdownMenu
                 class="dropdown-menu"
                 aria-labelledby="dropdownMenu1">
              <button class="dropdown-item"
                      routerLink="/templates/create"
                      [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                Create template
              </button>
              <button class="dropdown-item"
                      routerLink="/weapons/create"
                      [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                Create weapon
              </button>
            </div>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item"
            *ngIf="!user">
          <a class="nav-link"
             routerLink="/register"
             [routerLinkActive]="['active']">Register</a>
        </li>
        <li class="nav-item"
            *ngIf="!user">
          <a class="nav-link"
             routerLink="/login"
             [routerLinkActive]="['active']">Login</a>
        </li>
        <li class="nav-item dropdown"
            *ngIf="user">
          <div ngbDropdown
               *ngIf="user"
               class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              {{user}}
            </button>
            <div ngbDropdownMenu
                 class="dropdown-menu"
                 aria-labelledby="dropdownMenu1">
              <button class="dropdown-item"
                      (click)="logout()">
                Log out
              </button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
