<h2>All Units</h2>

<table class="table">
  <thead>
    <th scope="col">Weapon power</th>
    <th scope="col">Description</th>
    <th scope="col">Hp</th>
    <th scope="col">Atk</th>
    <th scope="col">Spd</th>
    <th *ngIf="userId == adminId"></th>
    <th *ngIf="userId == adminId"></th>
  </thead>
  <tr *ngFor="let weapon of weapons" class="weapon-holder">
    <th scope="row">{{weapon.name}}</th>
    <td>{{weapon.description}}</td>
    <td>{{weapon.hp}}</td>
    <td>{{weapon.atk}}</td>
    <td>{{weapon.spd}}</td>
    <td *ngIf="userId == adminId">
      <button type="submit" class="btn btn-primary" (click)="patchWeapon(weapon._id)">
        Update
      </button>
    </td>
    <td *ngIf="userId == adminId">
      <button type="submit" class="btn btn-primary" (click)="deleteWeapon(weapon._id)">
        Delete
      </button>
    </td>
  </tr>
</table>

