/* You can add global styles to this file, and also import other style files */

.navbar-nav {
  height: 35px;
}

main.container {
  margin-top: 80px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
