<form class="was-validated" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Name" required>
    <div class="invalid-feedback">
      Please provide a name.
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" [(ngModel)]="title" name="title" placeholder="Title" required>
    <div class="invalid-feedback">
      Please provide a title.
    </div>
  </div>
  <div class="form-group">
    <label for="weaponType">Weapon type</label>
    <select class="form-control" id="weaponType" [(ngModel)]="weaponType" name="weaponType" required>
      <option value="Sword">Sword</option>
      <option value="Lance">Lance</option>
      <option value="Axe">Axe</option>
      <option value="Bow">Bow</option>
    </select>
    <div class="invalid-feedback">Please provide a weapon type.</div>
  </div>
  <div class="form-group">
    <label for="movementType">Movement type</label>
    <select class="form-control" id="movementType" [(ngModel)]="movementType" name="movementType" required>
      <option value="Infantry">Infantry</option>
      <option value="Cavalier">Cavalier</option>
      <option value="Flier">Flier</option>
      <option value="Armored">Armored</option>
    </select>
    <div class="invalid-feedback">Please provide a movement type.</div>
  </div>
  <div class="form-group">
    <label for="hp">HP</label>
    <input class="form-control" id="hp" type="number" min="0" [(ngModel)]="hp" name="hp" placeholder="HP" required />
    <div class="invalid-feedback">Please provide a proper HP stat.</div>
  </div>
  <div class="form-group">
    <label for="atk">ATK</label>
    <input class="form-control" id="atk" type="number" min="0" [(ngModel)]="atk" name="atk" placeholder="ATK" required />
    <div class="invalid-feedback">Please provide a proper ATK stat.</div>
  </div>
  <div class="form-group">
    <label for="spd">spd</label>
    <input class="form-control" id="spd" type="number" min="0" [(ngModel)]="spd" name="spd" placeholder="SPD" required />
    <div class="invalid-feedback">Please provide a proper SPD stat.</div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="patchTemplate()">
    Submit
  </button>
</form>
